.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  padding: 2.5rem 0 2.5rem 0;
  background-color: aqua;
}

.tag {
  border-radius: 500px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: #b0b0b0;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}
