.main_navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--spaces-size-s);
}

.email {
  display: flex;
  align-items: center;
  gap: var(--spaces-size-s)
}

.tag {
  border-radius: 500px;
  padding: var(--spaces-size-xs) var(--spaces-size-s);
  background-color: var(--color--grey);
}

.nav_dialog {
  padding: 1.5rem;
  text-align: var(--spaces-size-s);
  background-color: var(--color--grey);
}
